saves/
backups/
crash-reports/
logs/
local/
generated/
crafttweaker.log
usercache.json
usernamecache.json
config/AppliedEnergistics2/
config/jei/
config/astralsorcery/amulet_enchantments.cfg
config/InvTweaks.cfg
config/splash.properties
minecraftinstance.json
config/astralsorcery/amulet_enchantments.cfg
options.txt
config/InvTweaks.cfg
config/splash.properties
